name: CI

on:
  push:
    branches: [main, alpha]
  pull_request:
    branches: [main, alpha]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-18.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check-out repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false # needed for semantic-release, see https://github.com/semantic-release/git/issues/196#issuecomment-601310576

      - name: Setup Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install node dependences
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm test -- --codeCoverage --coverageReporters=json --coverageReporters=text --coverageReporters=text-summary --skip-nx-cache

      - name: Test coverage unit tests
        uses: codecov/codecov-action@v1.0.14
        with:
          name: ng-mockito (unit tests)
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/libs/ng-mockito/ng-mockito/coverage-final.json
          # Specify whether or not CI build should fail if Codecov runs into an error during upload
          fail_ci_if_error: false

      - name: Test coverage integration tests
        uses: codecov/codecov-action@v1.0.14
        with:
          name: ng-mockito (integration tests)
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/libs/ng-mockito/integration/coverage-final.json
          # Specify whether or not CI build should fail if Codecov runs into an error during upload
          fail_ci_if_error: false

      - name: Build
        run: npm run build

      - name: Release
        if: github.event_name == 'push'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN_QUPAYA_BOT }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN_QUPAYA_BOT }}
          GIT_AUTHOR_NAME: qupaya-bot
          GIT_AUTHOR_EMAIL: bot@qupaya.com
          GIT_COMMITTER_NAME: qupaya-bot
          GIT_COMMITTER_EMAIL: bot@qupaya.com
        run: npx semantic-release
